
body{
  height: 100vh;
  width: 100%;
  margin-top: 30px;
  background: rgb(244, 244, 244);
}

.center
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 70px;
}
::selection{
  color: #fff;
  background: #07355d;
}
.wrapper{
  width: 380px;
  padding: 40px 30px 20px 30px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.wrapper header{
  text-align: start;
  font-size: 28px;
  font-weight: 500;
}
.wrapper form{
  margin: 40px 0;
}
form .field{
  width: 100%;
  margin-bottom: 20px;
}
form .field.shake{
  animation: shake 0.3s ease-in-out;
}
@keyframes shake {
  0%, 100%{
    margin-left: 0px;
  }
  20%, 80%{
    margin-left: -12px;
  }
  40%, 60%{
    margin-left: 12px;
  }
}
form .field .input-area{
  height: 50px;
  width: 100%;
  position: relative;
}
form input{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 45px;
  font-size: 18px;
  background: none;
  caret-color: #07355d;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  border-bottom-width: 2px;
  transition: all 0.2s ease;
}
form .field input:focus,
form .field.valid input{
  border-color: #07355d;
}
form .field.shake input,
form .field.error input{
  border-color: #dc3545;
}
.field .input-area i{
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
}
.input-area .icon{
  left: 15px;
  color: #bfbfbf;
  transition: color 0.2s ease;
}
.input-area .error-icon{
  right: 15px;
  color: #dc3545;
}
form input:focus ~ .icon,
form .field.valid .icon{
  color: #07355d;
}
form .field.shake input:focus ~ .icon,
form .field.error input:focus ~ .icon{
  color: #bfbfbf;
}
form input::placeholder{
  color: #bfbfbf;
  font-size: 17px;
}
form .field .error-txt{
  color: #dc3545;
  text-align: left;
  margin-top: 5px;
}
form .field .error{
  display: none;
}
form .field.shake .error,
form .field.error .error{
  display: block;
}
form .pass-txt{
  text-align: left;
  margin-top: -10px;
}
.wrapper a{
  color: #07355d;
  text-decoration: none;
}
.wrapper a:hover{
  text-decoration: underline;
}
form input[type="submit"]{
  height: 50px;
  margin-top: 30px;
  color: #fff;
  padding: 0;
  border: none;
  background: #121212;
  cursor: pointer;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}
form input[type="submit"]:hover{
  background: #333333;
}

.center .img-con{
  height: 427px;
  width: 427px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #eddcc0;
}

.center .img-con img{
  filter: brightness(0.6);

}


.center .img-con .text{
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
}

.center .img-con button
{
  background-color: rgb(239, 239, 239);
  border: #6d6d6d;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 6px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(55, 55, 55);
}

.img-con img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}